.entryForm {
  background-color: #f0f8ffa1;
  padding: 15px 15px;
  border-radius: 5px;
}
.btn {
  font-size: 14px;
  cursor: pointer;
  margin: 15px 15px;
  border-radius: 5px;
  background-color: #008296;
  border: 1px solid #008296;
  color: #fff;
  padding: 0.5rem 1.5rem;
  outline: 0;
  font-weight: 600;
}
